{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>
  
  <form action="/add" method="post" class="form-inline">
    <input type="text" class="form-control mr-2" placeholder="Add item to list" name="added_item" value="{{ request.form['item_title'] }}">
    <button type="submit" class="btn btn-primary">Add</button>
  </form>

  <br>

  <table class="table">
    <tr>
        <th>Item</th>
        <th>Status</th>
        <th></th>
        <th></th>
    </tr>
    {% for item in view_model.items %}
    <tr>
        <td>
          {% if item.list_id == view_model.done_list_id %}
            <del>{{item.name}}</del>
          {% else %}
            {{item.name}}
          {% endif %}
        </td>
        <td>{% if item.list_id == view_model.done_list_id %}Complete{% else %}To do{% endif %}</td>
        <td>
          <form action="/update" method="post">
            <button type=submit class="btn btn-secondary" name="updated_item" value={{item.id}}>
              Mark {% if item.list_id == view_model.done_list_id %}incomplete{% else %}complete{% endif %}
            </button>
          </form>
        </td>
        <td>
          <form action="/delete" method="post">
            <button type=submit class="btn btn-danger" name="deleted_item" value={{item.id}}>
              x
            </button>
          </form>
        </td>
    </tr>    
    {% endfor %}
  </table>
{% endblock %}