{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app!</p>
  </div>
  
  <form action="/add" method="post" class="form-inline">
    <input type="text" class="form-control mr-2" placeholder="Add item to list" name="added_item" value="{{ request.form['item_title'] }}">
    <button type="submit" class="btn btn-primary">Add</button>
  </form>

  <br>

  <table class="table">
    <tr class="row">
        <th class="col-4">To do items</th>
        <th class="col-4"></th>
        <th class="col-4"></th>
    </tr>
    {% for item in view_model.todo_items %}
    <tr class="row">
        <td class="col-4">{{item.name}}</td>
        <td class="col-4">
          <form action="/update" method="post">
            <button type=submit class="btn btn-secondary" name="updated_item" value={{item.id}}>
              Mark complete
            </button>
          </form>
        </td>
        <td class="col-4">
          <form action="/delete" method="post">
            <button type=submit class="btn btn-danger" name="deleted_item" value={{item.id}}>
              x
            </button>
          </form>
        </td>
    </tr>    
    {% endfor %}
  </table>

  <table class="table">
    <tr class="row">
        <th class="col-4">Completed items</th>
        <th class="col-4"></th>
        <th class="col-4"></th>
    </tr>
    {% for item in view_model.done_items %}
    <tr class="row">
        <td class="col-4"><del>{{item.name}}</del></td>
        <td class="col-4">
          <form action="/update" method="post">
            <button type=submit class="btn btn-secondary" name="updated_item" value={{item.id}}>
              Mark incomplete
            </button>
          </form>
        </td>
        <td class="col-4">
          <form action="/delete" method="post">
            <button type=submit class="btn btn-danger" name="deleted_item" value={{item.id}}>
              x
            </button>
          </form>
        </td>
    </tr>    
    {% endfor %}
  </table>
{% endblock %}