{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <form method="post">
    <label for="item">Add item</label>
    <br>
    <input type="text" name="item" value="{{ request.form['item_title'] }}">
    <button type="submit">submit</button>
  </form>

  <br>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in items %}
        <li>{{item.title}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}